body {
    background: rgb(129, 129, 170);
    font: normal 15pt Arial;
    text-align: left;

}
header{
    color: white;
    text-align: left;
   

}
section{

    background: white;
    border-radius: 10px;
    padding:15px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
    text-align: left;


}
div {
    text-align: center;
    padding: 8;
    text-align: left;
}
footer{
    text-align: center;
    font-style: italic;
    text-align: left;

}